<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SRS.DeskApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SRS.DeskApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="templatePath" value="D:\Private Document\Other Project\KTM Sugar\SVN\SRS\SRS.DeskApp\template\Book1.xls"/>
    <add key="templateBlank" value="D:\Private Document\Other Project\KTM Sugar\SVN\SRS\SRS.DeskApp\template\Template Blank.xls"/>
    <add key="templateTiket" value="D:\Private Document\Other Project\KTM Sugar\SVN\SRS\SRS.DeskApp\template\Template Tiket.xls"/>
    <add key="outPath" value="D:\KTM-Output\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    
    <!--<add name="SRSEntities" connectionString="metadata=res://*/Context.SRS.csdl|res://*/Context.SRS.ssdl|res://*/Context.SRS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.50.208;initial catalog=ktm_db;persist security info=True;user id=sa;password=adminpass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SRSEntities" connectionString="metadata=res://*/Context.SRS.csdl|res://*/Context.SRS.ssdl|res://*/Context.SRS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DERIT-PC\SQL2012;initial catalog=ktm_db;persist security info=True;user id=sa;password=silit;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <SRS.DeskApp.Properties.Settings>
      <setting name="app_start_lamp" serializeAs="String">
        <value>E:\CRONOS PROJECT\JATIS\SUGAR LABINTA\project\SRS NEW\SRS.DeskApp\bin\Debug\app\Turn ON Led ADAM\PTurnONLed.exe</value>
      </setting>
      <setting name="app_open_gate" serializeAs="String">
        <value>E:\CRONOS PROJECT\JATIS\SUGAR LABINTA\project\SRS NEW\SRS.DeskApp\bin\Debug\app\Open Gate\POpenGate.exe</value>
      </setting>
      <setting name="app_close_gate" serializeAs="String">
        <value>E:\CRONOS PROJECT\JATIS\SUGAR LABINTA\project\SRS NEW\SRS.DeskApp\bin\Debug\app\\Open Gate\POpenGate.exe</value>
      </setting>
      <setting name="app_unload" serializeAs="String">
        <value>E:\CRONOS PROJECT\JATIS\SUGAR LABINTA\project\SRS NEW\SRS.DeskApp\bin\Debug\app\Unloading\PUnloading.exe</value>
      </setting>
    </SRS.DeskApp.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <SRS.DeskApp.Properties.Settings>
      <setting name="csv_file" serializeAs="String">
        <value>\\PC-PC\Export\Place-1\</value>
      </setting>
      <setting name="csv_file_manual" serializeAs="String">
        <value>\\PC-PC\Export\Place-1\</value>
      </setting>
      <setting name="ip_core_sampling_line1" serializeAs="String">
        <value/>
      </setting>
      <setting name="ip_core_sampling_line2" serializeAs="String">
        <value/>
      </setting>
      <setting name="ip_gate1" serializeAs="String">
        <value>192.168.50.221</value>
      </setting>
      <setting name="ip_gate2" serializeAs="String">
        <value>192.168.50.221</value>
      </setting>
      <setting name="ip_gate3" serializeAs="String">
        <value>192.168.1.102</value>
      </setting>
      <setting name="ip_gate4" serializeAs="String">
        <value>192.168.1.103</value>
      </setting>
      <setting name="ip_gate5" serializeAs="String">
        <value>192.168.1.104</value>
      </setting>
      <setting name="ip_gate6" serializeAs="String">
        <value>192.168.1.105</value>
      </setting>
      <setting name="externalAppPath" serializeAs="String">
        <value>E:\CRONOS PROJECT\JATIS\SUGAR LABINTA\project\SRS NEW\SRS.DeskApp\bin\Debug\app\</value>
      </setting>
    </SRS.DeskApp.Properties.Settings>
  </userSettings>
</configuration>
